.profileInfo {
	display: flex;
	flex-direction: column;
}
.avatar {
	padding: 10px;
}

.avatar {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.avatar img {
	width: 300px;
    height: 200px;
}
