.dialogsWrap {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogsItem {
	padding-left: 10px;
	border-right: 3px solid sienna;
}

.messages {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.messageLeft {
	display: flex;
	justify-content: flex-start;
	background-color: rgb(130, 182, 152);
}
.messageRight {
	display: flex;
	justify-content: flex-end;
	background-color: rgb(182, 130, 130);
}